@import "../../styles/general.css";
.card{
    width: 250px;
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    position: relative;
   
}


.headerCard{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.editBtn {
    width: 20px;
    height: 20px;
    align-items: flex-end;
    position: absolute;
    right: 10%;
    bottom: 5%;

}  

.imgSeminar{
    width: 40px;
    height: 40px;
}